.dropdown-toggle::after {
  content: none;
}
#baColor {
  max-height: 150px;
  min-height: 150px;
  overflow: auto;
}

.card {
  margin: 10px;
}

.dropdown {
  cursor: pointer;
}

#threeDot:hover {
  background-color: #e8e8e8;
  border-radius: 2px;
}
